@media screen and (orientation: landscape) {
#logoBar{
  width: 30vw;
  height: 100vh;
  font-family: "Lucida Console", "Courier New";
  color: darkpink;
}
#siteLogo{
  width: 100%;
}
body {
  display: flex;
  background-color: lightpink;
  font-family: "Lucida Console", "Courier New";
  justify-content: space-around;
  color: darkpink;
}
#staffGallery{
  width: 70vw;
  display: inherit;
}
.galleryImage{
  width: 100%;
  height: auto;
  height: 300px;
}
.card {
  color: darkpink;
  background-color: lightblue;
  text-align: center;
  justify-content: space-around;
}
}

@media (min-height: 680px), screen and (orientation: portrait) {
#logoBar{
  width: 30vw;
  height: 100vh;
  font-family: "Lucida Console", "Courier New";
  color: darkpink;
}
#siteLogo{
  width: 100%;
}
body {
  display: flex;
  background-color: lightpink;
  flex-direction: column;
  font-family: "Lucida Console", "Courier New";
  justify-content: flex-start;
  justify-content: space-evenly;
  color: darkpink;
}
#staffGallery{
  width: 70vw;
  display: inherit;
}
.galleryImage{
  width: 100%;
  height: auto;
  height: 300px;
}
.card {
  color: darkpink;
  background-color: lightblue;
  text-align: center;
}
}
