#logoBar{
  width: 30vw;
  height: 100vh;
  font-family: "Lucida Console", "Courier New";
  color: darkpink;
}
#siteLogo{
  width: 100%;
}
body {
  display: flex-wrap;
  background-color: lightpink;
  font-family: "Lucida Console", "Courier New";
  justify-content: space-evenly;
  align-items: center;
}
#staffGallery{
  width: 70vw;
  display: inherit;

}
.galleryImage{
  width: 100%;
  height: auto;
  height: 300px;
}

.card {
  color: darkpink;
  background-color: lightblue;
  padding: 5px 20px;
}
